body {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

ul,
ol {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

ul[class] {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	text-decoration: none;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

.films {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.films div:last-child {
	grid-column: 2 / span 1;
}

.films a {
	color: saddlebrown;
	font-size: 20px;
}

.card {
	border: 1px solid teal;
	border-radius: 15px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 20px;
	transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.card:hover {
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
	transform: translateY(-5px);
	background-color: #adb2ca;
}

.card__place {
	font-weight: bold;
	margin-bottom: 10px;
}

.card__date {
	margin-bottom: 10px;
}

.card__arrow {
	margin-top: 10px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10px;
}

.card__arrow:hover {
	background-color: yellow;
}

.arrow {
	transition: transform 0.3s ease-in-out;
}

.arrow-up {
	transform: rotate(180deg);
}


.dropdownContent[data-open='true'] {
	opacity: 1;
	visibility: visible;
}

.dropdownContent {
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 5px;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
